{# from https://onsen.io/v2/guide/#the-first-onsen-ui-app  #}

<ons-navigator swipeable id="myNavigator" page="page1.html"></ons-navigator>

<template id="page1.html">
  <ons-page id="page1">
    <ons-toolbar>
      <div class="center">Page 1</div>
    </ons-toolbar>

    <p>{{ var }}</p>

    <ons-button id="push-button">Push page</ons-button>
  </ons-page>
</template>

<template id="page2.html">
  <ons-page id="page2">
    <ons-toolbar>
      <div class="left"><ons-back-button>Page 1</ons-back-button></div>
      <div class="center"></div>
    </ons-toolbar>
    <p>This is the second page.</p>
      <ons-list>
        <ons-list-header>Settings</ons-list-header>
        
        <ons-list-item>
          <div class="center">
            Enable cool feature
          </div>
          <div class="right">
            <ons-switch checked></ons-switch>
          </div>
        </ons-list-item>
        
        <ons-list-item>
          <div class="center">
            Enable even cooler feature
          </div>
          <div class="right">
            <ons-switch></ons-switch>
          </div>
        </ons-list-item>
      </ons-list>
        
  </ons-page>
</template>
